body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    width: 100%;
}

.logo {
    width: 25%;
    float: right;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#navbar .active {
    background-color: #35B8E9;
}

#navbar a:hover {
    background-color: #35B8E9;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txt {
    text-align: center;
    padding-top: 40px;
}

/*For the colum cards*/
* {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

a {
    color: inherit;
}